section.left {
    display: flex;
    flex: 3;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    height: 89vh;
    border-radius: 25px;
    background-color: #C9AF9B;
    margin-right: 5px;
    margin-left: 5px;
    margin-bottom: 5px;
    color: #647F8C;

    h1 {
        font-size: 80px;
    }

    span {
        border: 1px solid black;
        height: 10vh;
        width: 7vw;
        text-align: center;
        line-height: 10vh;
        cursor: pointer;
    }

    a {
        text-decoration: none;
        color: black;
    }

    a:hover {
        color: #647F8C;
    }
}

section.right {
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 90vh;
    border-radius: 25px;
    gap: 3px;

    .up {
        flex: 1;
        background-color: #647F8C;
        border-radius: 25px;
        margin-right: 5px;
        font-size: 32px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #C9AF9B;
    }

    .down {
        flex: 1;
        background-color: #1C1710;
        border-radius: 25px;
        margin-right: 5px;
        margin-bottom: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 38px;
        color: white;
        color: #C9AF9B;
    }
}

section.sections {
    display: flex;
}