body{
    background-color: #eee;
}

nav h3 {
    color: #647F8C;
}

nav a {
    text-decoration: none;
    color: black;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    height: 10vh;
}

nav .right {
    display: flex;
    gap: 1.5rem;
    align-items: center;
}

div.hhr {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2px;
}

div.hr {
    height: 1px;
    width: 20px;
    background-color: black;
}

div.email {
    border: 1px solid #647F8C;
    width: 20vw;
    height: 6vh;
    text-align: center;
    line-height: 6vh;
    border-radius: 20px;
}

div.search {
    width: 5vw;
    height: 6vh;
    border-radius: 15px;
    border: 1px solid #647F8C;
}